<h3 class="tituloSeccion">Información del servidor</h3>
<div class="serverInfoContainer">
    <p>ARGS: {{args}}</p>
    <p>Platform: {{platform}}</p>
    <p>node version: {{nodeVersion}}</p>
    <p>memory: {{memory}}</p>
    <p>directory: {{directory}}</p>
    <p>id: {{processId}}</p>
    <p>path: {{processPath}}</p>
</div>
