<div class="productSection" id="searchProduct">
  <form id="form2" action="/api/products/:id" method="get">
    <div class="contenedorInput">
      <label class="formLabel">Ingrese el Id del producto</label>
      <input class="formInput" type="number" placeholder="identificador" id="prodId" name="prodId" />
      <input type="submit" id="btn__searchProduct" class="btn__submit" value="Buscar producto" />

    </div>
  </form>

  {{#if foundProduct.id}}
  <div class="cardContainer">
    <div class="card">
      <div class="card__header">
        <div class="card__header--name">
          {{foundProduct.name}}
        </div>
      </div>
      <div class="card__image">
        <img src={{foundProduct.thumbnail}} alt="" class="card__image--thumbnail" />
      </div>
      <div class="card__information">
        <div class="card__information--description">
          {{foundProduct.description}}

        </div>
        <div class="card__information--price">
          ${{foundProduct.price}}
        </div>
      </div>
      <div class="card__footer">
        stock:
        {{foundProduct.stock}}
      </div>
    </div>
    <button class="btn__submit" id="btnAddToCart{{foundProduct.id}}">Add to Cart</button>
    <div class="hiddenId">{{foundProduct.id}}</div>
  </div>
  {{else}}
  <h3>No haz buscado ningún producto aún</h3>
  {{/if}}

</div>