{{!-- <table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imágen</th>
    </tr>
    {{if products.length > 0}}
    {{#each product}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbnail}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td>hol</td>
        <td>aaa</td>
        <td>manola</td>
    </tr>
    {{/endif}}

</table> --}}